APP_NAME=

APP_KEY=

DB_CONNECTION=
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

MYSQL_ROOT_USER=
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_PASSWORD=

GRAFANA_ADMIN_USER=
GRAFANA_ADMIN_PASSWORD=

REDIS_HOST=
REDIS_PASSWORD=
REDIS_PORT=

PROMETHEUS_STORAGE_ADAPTER=

